body {
    background-color: lightpink;
}

.figura {
    width: 700px;
}

.figura2 {
    width: 100px;
}

.tamanho {
    font-size: 24px;
}

.tam {
    font-size: 24px;
}

.fonte {
    font-size: 24px;
}

.foto {
    width: 700px;
}

.imagem {
    width: 700px;
}